



  *{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}  

.main_container_register {
    background:wheat;
    padding: 20px 30px;
    margin: 0px auto;
    width: 400px;
    margin-top: 100px;
    border-top: 5px solid gray;
}
.header {
    width: 100%;

   
}

.main_container_register .header h2 {
    text-align: center;
   
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.main_container_register .box {
    width: 100%;
    margin-top: 10px;
   
}

.main_container_register .box input {
    width: 80%;
    padding: 10px 20px;
    margin-left: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    border: 1px solid wheat;
}
.main_container_register p{
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.885);
    margin-left: 32px;
    font-weight: 500;
}
.main_container_register button{
    margin-top: 10px;
    margin-left: 30%;
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color:lightseagreen;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    cursor: pointer;
}
/* body{
    background-color: rgba(0, 0, 0, 0.5);
} */
.p{
    color:antiquewhite;
}